<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Formul&aacute;rio Mensagem Servi&ccedil;o</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
          <h1>Formul&aacute;rio Mensagem Servi&ccedil;o</h1>
          <form action="#" th:action="@{/setMensagem}" th:object="${frmMensagem}"  method="post">                               
            Nova mensagem: <input type="text" th:field="*{mensagem}" /> <p>
            <input type="reset" value="Limpar">
            <input type="submit" name="Enviar" value="Enviar"> <p>		
        </form>
        <br>
    </body>
</html>
