<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Aplica&ccedil;&atilde;o Mensagem</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div><h1>Servi&ccedil;o Mensagem!</h1>
            Aplica&ccedil;ão Mensagem em execu&ccedil;ão.<br>
            <p th:text="'GetMensagem: ' + ${frmMensagem.getMensagem}" />        
            <p><a th:href="@{/FrmMensagem}">FrmMensagem</a></p>         
        </div>
    </body>
</html>
